# OS
.DS_Store

# Ruby / Bundler
.bundle/
vendor/bundle/

# Jekyll build caches and output
_site/
.jekyll-cache/
.sass-cache/

# Logs / temp
*.log
.tmp/
tmp/

# Editor and local configs
.vscode/
.hintrc
